/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
}
*::selection {
  background: var(--main-color);
  color: #8FD6E1; 
}
:root {
  --main-color: #800000;
  --text-color: #150E56;
  --bg-color: #8FD6E1;

  --big-font: 4rem;
  --h2-font: 2.24rem;
  --p-font: 0.9rem;
}
section {
  padding: 50px 10%;
}

body.active {
  --bg-color: #150E56;
  --text-color: #8FD6E1;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}
body.active {
  color: #8FD6E1;
  background: #1e1c2a;
}

#darkmode {
  font-size: 25px;
  cursor: pointer;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 18px 100px;
  box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.home-img img {
  width: 100%;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--main-color);
}
.home-text h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 1rem;
}
.btn {
  display: inline-block;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #8FD6E1;
}
.btn:hover {
  background: #800000;
}

.promo
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:10000;
  background: rgba(0, 0, 0, 0, 0.95);
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.promo.active
{
  visibility: visible;
  opacity: 1;
}
.promo video
{
  position:relative;
  max-width: 900px;
  outline: none;
}
.close
{
  position: absolute;
  top: 30px;
  right: 30;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}

.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
 }
.team-img img {
  max-width: 80%;
  }
.team-text span {
  color: var(--main-color);
  font-weight: 500;
}
.team-text h2 {
  font-size: var(--h2-font);
}
.team-text p {
  margin: 0.8rem 0 1.8rem;
}
.team-img2 img{
  max-width: 80%;
}
.resize {
  width: 200px;
  height: auto;
}

.heading {
  text-align: center;
}
.heading span {
  color: var(--main-color);
  font-weight: 500;
}
.heading h2 {
  font-size: var(--h2-font);
}

.connect {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.connect-text span {
  color: var(--main-color);
  font-weight: 500;
}
.connect-text h2 {
  font-size: var(--h2-font);
}
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1.5rem;
}
.contact-box h3 {
  margin-bottom: 1rem;
}
.social {
  display: flex;
  margin-top: 1.5rem;
}
.social i {
  font-size: 20px;
  margin-right: 1rem;
  color: var(--text-color);
}
.social i:hover {
  color: var(--main-color);
}
.contact-box li a {
  color: var(--text-color);
}
.contact-box li a:hover {
  color: var(--main-color);
}
.address {
  display: flex;
  flex-direction: column;
}
.address i {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.address span {
  margin-left: 1rem;
}

/*CHECKLIST PAGE*/

.checklist {
  position: relative;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding-top: 100px;
}

.chechlist-text h2 {
  font-size: var(--h2-font);
  }

.chechlist-text p {
  margin: 0.8ren 0 1.8rem;
}

.checklist-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 640px;
  margin: 0 auto;
  color: #800000;
}
.checklist-container div {
  padding: 24px;
  background-color: var(--buttoncolour);
  border-radius: 20px;
}
.checklist-container div:hover {
  background: var(--buttonhover);
  transition: all 200ms ease-in-out;
}
.checklist-container h4 {
  margin-bottom: 12px;
}
.checklist-container [type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 4px 0;
  cursor: pointer;
}
.checklist-container label {
  color: #800000;
  position: relative;
  top: -4px;
  font-size: 16px;
  padding-left: 8px;
}
.checklist-container2 {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 640px;
}
.checklist-container2 div {
  padding-left: 370px;
  background-color: var(--buttoncolour);
  border-radius: 20px;
}
.checklist-img img{
  max-width: 100%;
  position: relative;
  
}
.responsive {
  max-width: 80%;
  height: auto;
}

/*RESPONSIVENESS*/

@media (max-width: 921px) {
  header {
    padding: 14px 41px;
  }
  :root {
    --big-font: 3rem;
    --h2-font: 1.7rem;
  }
}
@media (max-width: 768px) {
  section {
    padding: 50px 8%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
}
@media (max-width: 715px) {
  header {
    padding: 10px 16px;
  }
  .home {
    grid-template-columns: 1fr;
  }
  
  .team {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .team-img {
    order: 2;
  }
}
@media (max-width: 991px)
{
  .promo video 
  {
    max-width: 90%;
  }
}
@media (max-width: 515px) {
  .connect {
    flex-direction: column;
  }
  .connect .btn {
    margin-top: 1rem;
  }
}
@media (max-width: 450px) {
  :root {
    --big-font: 2rem;
    --h2-font: 1.4rem;
  }
  .home-text {
    padding-top: 4rem;
  }
}
